<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button routerLink="/action-sheet"  expand="block" color="tertiary">
      Action Sheet
    </ion-button>
    <ion-button routerLink="/alert" expand="block" color="primary" >
      Alert
    </ion-button>
    <ion-button routerLink="/fab" expand="block" color="secondary" >
      Fab
    </ion-button>
    <ion-button routerLink="/datetime" expand="block" color="danger" >
      Datetime
    </ion-button>
    <ion-button routerLink="/buttons" expand="block" color="danger" >
      Buttons
    </ion-button>
</ion-content>
