<ion-header>
  <app-header titulo="Alert"></app-header>
</ion-header>

<ion-content>
  <ion-button (click)="presentAlert()" expand="block">
    Alert1
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block" fill="clear" shape="round">
    Alert2
  </ion-button>
  <ion-button (click)="presentAlertConfirm()" expand="block" fill="clear">
    Alert3
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block">
    Click me4
  </ion-button>
  <ion-button (click)="presentAlertRadio()" expand="block">
    Click me5
  </ion-button>
  <ion-button (click)="presentAlertCheckbox()" expand="block">
    Click me6
  </ion-button>
</ion-content>